#hamnav {
  width: 100%;
  background: rgb(59, 19, 220);
  position: sticky;
  top: 0;
}

#hamitems { display: flex; }
#hamitems a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover { background: #2d2456; }

#hamnav label, #hamburger { display: none; }

@media screen and (max-width: 768px){
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid rgb(190, 223, 194);
  }

  #hamnav label {
    display: inline-block;
    color: white;
    background: #f9362c;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}