html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#mainheader{
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    text-align: center;
    background-color: rgb(8, 43, 83);
}


body {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 3rem;
    font-family: 'Rubik', sans-serif;
    background-color: aqua;
}

.rotate-image {
    max-width: 300px;
    max-height: 300px;
    margin: 50px;
    border-radius: 150px;
    padding: 25px;
    background-color: blue;
}

img {
    justify-content: center;
    box-shadow: 1px 3px 15px;
    border: 4.5px solid #a593c2;
    border-radius: 15%;
    background-color: #a593c2;
}

button{
    justify-content: center;
    box-shadow: 3px 9px 45px;
    border: 5px;
    border-radius: 35%;
}

footer {
    padding-top: 25px;
    margin: 25px;
    border: 50px;
    text-align: center;
    background-color: #a593c2;
}

.foot {
    text-size-adjust: 25px;
}

@media screen and (min-width: 1140px) 
    {
.footer{
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
    }
